Statistic/Service References/Stat_service/TestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://xaeroolj.somee.com/TestService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://xaeroolj.somee.com/TestService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://xaeroolj.somee.com/TestService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TestService_GetServerTIme_InputMessage">
    <wsdl:part name="parameters" element="GetServerTIme" />
  </wsdl:message>
  <wsdl:message name="TestService_GetServerTIme_OutputMessage">
    <wsdl:part name="parameters" element="GetServerTImeResponse" />
  </wsdl:message>
  <wsdl:message name="TestService_sqlTest_InputMessage">
    <wsdl:part name="parameters" element="sqlTest" />
  </wsdl:message>
  <wsdl:message name="TestService_sqlTest_OutputMessage">
    <wsdl:part name="parameters" element="sqlTestResponse" />
  </wsdl:message>
  <wsdl:message name="TestService_addCHG_InputMessage">
    <wsdl:part name="parameters" element="addCHG" />
  </wsdl:message>
  <wsdl:message name="TestService_addCHG_OutputMessage">
    <wsdl:part name="parameters" element="addCHGResponse" />
  </wsdl:message>
  <wsdl:portType name="TestService">
    <wsdl:operation name="GetServerTIme">
      <wsdl:input wsaw:Action="urn:TestService/GetServerTIme" message="TestService_GetServerTIme_InputMessage" />
      <wsdl:output wsaw:Action="urn:TestService/GetServerTImeResponse" message="TestService_GetServerTIme_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sqlTest">
      <wsdl:input wsaw:Action="urn:TestService/sqlTest" message="TestService_sqlTest_InputMessage" />
      <wsdl:output wsaw:Action="urn:TestService/sqlTestResponse" message="TestService_sqlTest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addCHG">
      <wsdl:input wsaw:Action="urn:TestService/addCHG" message="TestService_addCHG_InputMessage" />
      <wsdl:output wsaw:Action="urn:TestService/addCHGResponse" message="TestService_addCHG_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>