Statistic/Service References/Stat_service/TestService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTestService.dbItemss">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TestService.dbItemss" nillable="true" type="tns:TestService.dbItemss" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTestService.dbItemss" nillable="true" type="tns:ArrayOfTestService.dbItemss" />
  <xs:complexType name="TestService.dbItemss">
    <xs:sequence>
      <xs:element minOccurs="0" name="Datetime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Flight" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestService.dbItemss" nillable="true" type="tns:TestService.dbItemss" />
</xs:schema>